@CHARSET "UTF-8";


/*ヘッダー*/
#header {
  text-align: center;
}

/*背景*/
body {
	background-color:#fbf5f7;
	color: Black;
}

/*ログイン*/
.square_btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #000000;
    border: solid 2px #c0c0c0;
    border-radius: 3px;
    transition: .4s;
}

.square_btn:hover {
    background: #c0c0c0;
    color: white;
}

/*ログアウト*/
.square_btn2{
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #000000;
    border: solid 2px #c0c0c0;
    border-radius: 3px;
    transition: .4s;

}

.square_btn2:hover {
    background: #c0c0c0;
    color: white;
}

/* 社員ID 名前 */
#dare {
	list-style-type: none;
	position: absolute;
    bottom: 0px;
    right: 0px;
	padding: 20px;
}

/* ラジオボタン チェックボックス */
div.float {
	font-size:20px;
}
	.float input,
	.float select{
		 margin-left:600px;
}